@using MVC_Razor_Data.Models;
@model List<Personel>


<ul>
    @foreach (var item in Model)
    {
        <li>@item.PersonalId @item.Ad @item.Soyad @item.K_Tarihi.Year @item.EmeklilikDrumu</li>
    }
</ul>